---
import Angular from "./icons/Angular.astro"
import Boostrap from "./icons/Bootstrap.astro"
import Typescript from "./icons/TypeScript.astro"
import Moodle from "./icons/Moodle.astro"
import Css from "./icons/Css.astro"
import React from "./icons/React.astro"
import Next from "./icons/Next.astro"

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-[#FFF0F0] text-black",
    icon: Angular,
  },
  BOOSTRAP: {
    name: "Boostrap",
    class: "bg-[#ffffff] text-black",
    icon: Boostrap,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: Typescript,
  },
  MOODLE: {
    name: "Moodle",
    class: "bg-[#FFFFFF] text-black",
    icon: Moodle,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#FFFFFF] text-black",
    icon: Css,
  },
  REACT: {
    name: "React JS",
    class: "bg-[#61DAFB] text-black",
    icon: React,
  },
  NEXT: {
    name: "Next JS",
    class: "bg-[#000000] text-white",
    icon: Next,
  },

}
const PROJECTS = [
  {
    title: "CRM BSL",
    description:
      "Sistema de gestión de envíos, el cual tiene como objetivo llevar un monitoreo para la empresa y para los clientes de la misma sobre todos los modulos y funcionalidades que contiene como crear proveedores, asignar mensajeros, gestionar inventarios.",
    link: "#",
    github: "https://github.com/santiago1544/apiRickMorty",
    image: "/projects/Bsl.webp",
    tags: [TAGS.ANGULAR, TAGS.BOOSTRAP, TAGS.TYPESCRIPT, TAGS.CSS],
  },
  {
    title: "Plataforma Moodle Educativa",
    description:
      "Plataforma educativa para los empleados recien ingresados, pueden ver las características de la empresa por medio de cursos, consultar su progreso, tienen tours interactivos en caso de que sea la primera vez que entren y hay sistema de puntuación en las evaluaciones.",
    link: "#",
    image: "/projects/moodle.jpg",
    tags: [TAGS.MOODLE, TAGS.CSS],
  },
  {
    title: "Gestión Documental Valor Más",
    description:
      "Sistema de gestión documental en el cual los usuarios pueden tener un control de radicados, administrar los respectivos usuarios que usen la página, tener un historial de reportes, crear dependendencias para unidades administrativas y seleccionar a que regionales van dirigidas.",
    link: "#",
    image: "/projects/ValorMas.webp",
    tags: [TAGS.NEXT, TAGS.CSS, TAGS.REACT],
  },
  {
    title: "CRM Trebol jurídico",
    description:
      "Sistema de gestión de clientes para un despacho jurídico, permite llevar un control de los clientes, deudores con sus respectivas gestiones y también los pagos que estos tengan pendientes por realizar.",
    link: "#",
    image: "/projects/Trebol.webp",
    tags: [TAGS.NEXT, TAGS.CSS, TAGS.REACT],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-100 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-400 dark:text-gray-400">{description}</div>
    </div>
  </div>
  
</article>
    ))
  }
</div>