---
import GitHub from "./icons/GitHub.astro"
import Angular from "./icons/Angular.astro"
import Boostrap from "./icons/Bootstrap.astro"
import Typescript from "./icons/TypeScript.astro"
import Moodle from "./icons/Moodle.astro"
import Css from "./icons/Css.astro"
import LinkButton from "./LinkButton.astro"
import Link from "./icons/Link.astro"

const TAGS = {
  ANGULAR: {
    name: "Angular",
    class: "bg-[#FFF0F0] text-black",
    icon: Angular,
  },
  BOOSTRAP: {
    name: "Boostrap",
    class: "bg-[#ffffff] text-black",
    icon: Boostrap,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#003159] text-white",
    icon: Typescript,
  },
  MOODLE: {
    name: "Moodle",
    class: "bg-[#FFFFFF] text-black",
    icon: Moodle,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#FFFFFF] text-black",
    icon: Css,
  },

}
const PROJECTS = [
  {
    title: "Api Rick y Morty",
    description:
      "Página web que consume la API de Rick y Morty permitiendo en la visualizar un listado de los personajes de la serie, junto con sus datos básicos, y al seleccionar a algún personaje se muestran sus detalles, cuenta con una barra de busqueda para acortar la lista según el personaje que se requiera.",
    link: "#",
    github: "https://github.com/santiago1544/apiRickMorty",
    image: "/projects/apirick.webp",
    tags: [TAGS.ANGULAR, TAGS.BOOSTRAP, TAGS.TYPESCRIPT],
  },
  {
    title: "Plataforma Moodle Educativa",
    description:
      "Plataforma educativa para los empleados recien ingresados, pueden ver las características de la empresa por medio de cursos, consultar su progreso, tienen tours interactivos en caso de que sea la primera vez que entren y hay sistema de puntuación en las evaluaciones.",
    link: "#",
    image: "/projects/moodle.jpg",
    tags: [TAGS.MOODLE, TAGS.CSS],
  },
  {
    title: "Pokedex con Api Pokemon",
    description:
      "Página interactiva que permite a los usuarios consultar los datos principales de un pokemon por medio del nombre que ellos ingresen en la barra de busqueda.",
    link: "#",
    image: "/projects/pokemon.jpg",
    tags: [TAGS.ANGULAR, TAGS.BOOSTRAP, TAGS.TYPESCRIPT],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-100 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-400 dark:text-gray-400">{description}</div>
    </div>
    <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
  </footer>
  </div>
  
</article>
    ))
  }
</div>